<div class="col-8 offset-2">
	<form action="/rewards", method="get"> 
		<div class="input-group">
			<input class="form-control" type="text" name="favorite[1]" placeholder="Favorite 1">
			<input class="form-control" type="text" name="favorite[1]" placeholder="Favorite 2">
			<input class="form-control" type="text" name="favorite[1]" placeholder="Favorite 3">
			<input class="form-control" type="text" name="favorite[1]" placeholder="Favorite 4">
			<input class="form-control" type="text" name="favorite[1]" placeholder="Favorite 5">

			<div class="input-group-append">
				<button class="btn btn-secondary" type="submit">Submit</button>
			</div>		
		</div>	 
	</form>
</div>	