<div class="col-8 offset-2">
	<form action="/intro", method="get"> 
		<div class="input-group">
			<input class="form-control" type="text" name="firstname" placeholder="First Name">
			<input class="form-control" type="text" name="lastname" placeholder="First Name">
			<div class="input-group-append">
				<button class="btn btn-secondary" type="submit">Submit</button>
			</div>		
		</div>	 
	</form>
</div>	