<div class="row">
	<div class="col-6 offset-3 text-center">
		<img src="images/dragon.gif" id="dragon"/>

		{{> (whichPartial) }}

	</div>
	<div class="col-3">

		<div class="speech-bubble"> <strong>The Dragon: <br> </strong>{{dragon_dialogue}} </div>
	</div>
</div>
